@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    display:grid;
    grid-template-rows:35% 65%;
    height: 100vh;
    margin:0;
    padding:0;
}

.contain-input{
    background:url('./assets/pattern-bg.png') no-repeat;
    background-size: cover;
    padding:10px 30px 0 30px;
    display:flex; 
    flex-direction:column;
    align-items:center;
}


.input-IP{
    outline:none;
    border:none;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    padding:2px 15px;
    font-size:18px;
    width:100%;
    height:50px;
}
.input{
    display:flex;
    width:100%;
    max-width: 600px;
}
.btn{
    height:54px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    background:#222;
    width:60px;
    display:grid;
    place-items: center center;
    outline:none;
    border:none;
    cursor:pointer;
}

.title{
    color:#f2f2f2;
    font-size:25px;
}
.map{
    height:100%;
    width:100%;
}

.location {
    position:relative;
    width:100%;
    max-width: 1000px;
    background-color:#fff;
    margin-top:20px;
    border-radius:15px;
    height:300px;
    z-index:10;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px 0;
}

.title-info{
    font-size:14px;
    color:#aaa;
    margin:5px 0;
}
.info{
    font-weight: 800;
    font-size: 23px;
    margin:5px 0;
}
.info-container{
    margin-bottom:10px;
    text-align: center;
    width:100%;
}

@media screen and (min-width:800px){
   .location{
        flex-direction: row;
        justify-content: space-around;
        bottom:-30px;
   }
   .info-container::after{
        content: "";
        display: block;
        position: absolute;
        width:1px;
        height:100%;
        right:0;
        top:0;
        bottom:0;
        background-color:#ccc;
   }
   .info-container{
       position:relative;
        text-align:start;
        margin-left: 40px;
   }
}